[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynamicpv"]
	path = dynamicpv
	url = https://github.com/msdllcpapers/dynamicpv
[submodule "rsmart"]
	path = rsmart
	url = https://github.com/msdllcpapers/rsmart
